<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="card bg-dark text-white ">
            <div class="card-body p-5 text-center">

  
              <div>
                <h1>Welcome</h1>
                <br>
                <h6>Log in to your account to continue</h6>
                <form (ngSubmit)="OnLogin()" [formGroup]="loginForm">
                  <div class="form-group class=justify-content-center">
                    <i class="fas fa-envelope"></i>
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username"
                      placeholder="Enter username">
                    <small *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                      <span class="text-danger" *ngIf="loginForm.get('username').errors['required']">Enter valid username </span>
                    </small>
                    <br>
                    <i class="fas fa-lock"></i>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" value="password" formControlName="password"
                      placeholder="Enter password">
                    <span class="text-danger"
                      *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please Enter
                      Password</span>
                      <br>
                      <p class="small mb-10 pb-lg-10"><a class="text-white-50" href="">Forgot password?</a></p>
                   
                    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
                    <div>
                      <br>
                      <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                      </p>
                    </div>
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="https://www.facebook.com/" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>
                  </div>
                </form>
              </div>
               </div>
            </div>

        </div>
      </div>
  </section>
